.ll-text_h1 {
  font-family: Alpha, Arial;
  font-size: 36px;
  line-height: 43.2px;
}
.ll-text_h2 {
  font-family: Alpha, Arial;
  font-size: 28px;
  line-height: 33.6px;
}
.ll-text_h3 {
  font-family: Alpha, Arial;
  font-size: 20px;
  line-height: 24px;
}
.ll-text_highlight {
  font-family: Inter, Arial;
  font-size: 16px;
  line-height: 19.36px;
}
.ll-text_emphasis {
  font-family: Inter, Arial;
  font-size: 14px;
  line-height: 20px;
}
.ll-text_body {
  font-family: Inter, Arial;
  font-size: 13px;
  line-height: 20px;
}
.ll-text_cta {
  font-family: Inter, Arial;
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 600;
}
.ll-text_link {
  font-family: Inter, Arial;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.ll-text_tiny {
  font-family: Inter, Arial;
  font-size: 12px;
  line-height: 16px;
}
.ll-text_navigation {
  font-family: Inter, Arial;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 600;
}
.ll-text_subTitle {
  font-family: Inter, Arial;
  font-size: 11px;
  line-height: 13.31px;
  font-weight: 600;
}
.ll-text_tag {
  font-family: Inter, Arial;
  font-size: 10px;
  line-height: 12.1px;
  font-weight: 600;
}

.ll-text_bracket {
  display: inline-block;
  height: 1.1em;
  width: 0.55em;
  transform: translateY(0.2em);
  margin: 0 0.3em;
}
