{
  "presets": [
    "flow",
    "stage-0",
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [["module-resolver", { "root": ["src"] }]]
}
