{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "electron": "1.8",
          "node": "current"
        }
      }
    ],
    "flow",
    "react",
    "stage-0"
  ],
  "plugins": [["module-resolver", { "root": ["src"] }], "styled-components"],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-0",
        "react",
      ],
      "plugins": [["module-resolver", { "root": ["src"] }], "styled-components"],
    }
  }
}
