{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["flowtype"],
  "globals": {
    "__ENV__": false,
    "__DEV__": false,
    "__PROD__": false,
    "__static": false,
  },
  "rules": {
    "camelcase": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "new-cap": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-return-assign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-void": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
    },
  },
}
