xliffs/
/.env
/dist/
/node_modules/
/storybook-static/

/build/linux/arch/.SRCINFO
/build/linux/arch/pkg
/build/linux/arch/src
/build/linux/arch/*.tar.gz
/build/linux/arch/*.tar.xz

/test-e2e/sync/data/actual_app.json

.yalc
yalc.lock
