{
  "all": true,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "**/*.spec.js"
  ],
  "reporter": [ "html", "text" ],
  "report-dir": "playwright/coverage",
  "temp-dir": "playwright/.nyc_output"
}