*                                      @ledgerhq/live-hub
yarn.lock                              @ledgerhq/ledger-live
package.json                           @ledgerhq/ledger-live
.github                                @ledgerhq/live-devx
scripts                                @ledgerhq/live-devx
tools                                  @ledgerhq/live-devx
src/renderer/families                  @ledgerhq/live-blockchain-support
src/live-common-set-supported-currencies.js  @ledgerhq/live-blockchain-support
src/renderer/components/DeviceAction   @ledgerhq/live-devices
src/renderer/screens/exchange          @ledgerhq/live-platform-and-services
