body {
  font-family: Inter;
  font-size: 100%;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-ExtraLight-BETA.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Light-BETA.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/inter/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alpha";
  src: url("./assets/fonts/alpha/HMAlphaMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
