body {
  font-family: Inter;
}

.spectron-run canvas:not(.visible-for-spectron) {
  visibility: hidden;
}

#react-root {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-ExtraLight-BETA.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-Light-BETA.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Alpha";
  src: url("./fonts/alpha/HMAlphaMono-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
