name: allure-reporting
on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        run: curl -i -L -X GET 'http://github-actions-live-vercel.vercel.app/api/cancel-previous-run?runId=${{ github.run_id }}&owner=LedgerHQ&repo=ledger-live-desktop&branch=${{ github.event.pull_request.head.ref }}&headSha=${{ github.event.pull_request.head.sha }}'
      - uses: actions/checkout@v2
        if: always() && job.status != 'cancelled'
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        if: always() && job.status != 'cancelled'
        with:
          node-version: 12.x
      - name: get yarn cache
        if: always() && job.status != 'cancelled'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        if: always() && job.status != 'cancelled'
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        if: always() && job.status != 'cancelled'
        run: yarn --frozen-lockfile
      - name: run code checks
        if: always() && job.status != 'cancelled'
        run: yarn ci 2>lint.txt
      - name: Read lint output
        id: lint
        if: always() && job.status != 'cancelled'
        uses: juliangruber/read-file-action@e0a316da496006ffd19142f0fd594a1783f3b512
        with:
          path: ./lint.txt
      - name: check build
        if: always() && job.status != 'cancelled'
        run: export INSTRUMENT_BUILD=true && sudo --preserve-env=INSTRUMENT_BUILD yarn build
      - name: docker compose pull
        if: always() && job.status != 'cancelled'
        run: cd tests/docker-electron-webdriver && docker-compose pull
      - uses: satackey/action-docker-layer-caching@v0.0.11
        if: always() && job.status != 'cancelled'
        continue-on-error: true
      - name: start electron webdriver
        if: always() && job.status != 'cancelled'
        run: yarn start-electron-webdriver -d
      - name: wait for container
        if: always() && job.status != 'cancelled'
        run: bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:9515)" != "404" ]]; do sleep 5; done'
      - name: run spectron
        if: always() && job.status != 'cancelled'
        run: yarn jest tests/specs/swap.spec.js --no-color 2>output.txt # to remove
        # run: yarn spectron --no-color 2>output.txt
      - name: Read test output
        id: spectron
        if: always() && job.status != 'cancelled'
        uses: juliangruber/read-file-action@e0a316da496006ffd19142f0fd594a1783f3b512
        with:
          path: ./output.txt
      - name: run coverage generation	
        if: always() && github.event_name == 'push' && job.status != 'cancelled'
        run: yarn spectron-coverage	
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}

# Publish Allure reports
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Retrieve Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          repository: LedgerHQ/live-test-reports
          ref: gh-pages
          path: gh-pages
      - name: Generate Allure report
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history
      - name: Deploy Allure report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.TEST_REPORTS_DEPLOY_KEY }}
          external_repository: LedgerHQ/live-test-reports
          publish_branch: gh-pages
          publish_dir: allure-history
          destination_dir: allure-reports

      - name: Send message to Slack channel
        uses: archive/github-actions-slack@v1.0.3
        if: always() && github.event_name == 'push' && job.status != 'cancelled'
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: live-qa-alert
          slack-text: "checkout http://blog.ledger.com/live-test-reports/"
