name: linux production build
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag?"
        required: true

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.inputs.tag}}
      - uses: actions/setup-node@main
        with:
          node-version: 14.x
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install libudev-dev libusb-1.0-0-dev
      - name: install and switch to GCC 5.4
        run: ./tools/g++-5.4/install.sh
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn --ignore-scripts --frozen-lockfile
      - name: build the app
        run: yarn dist
      - uses: ledgerhq/actions/get-package-infos@v2.0.0
        id: version
      - name: upload linux app
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.version.outputs.name }}-${{ steps.version.outputs.version }}-linux.AppImage
          path: dist/${{ steps.version.outputs.name }}-${{ steps.version.outputs.version }}-linux-x86_64.AppImage
      - name: upload yaml
        uses: actions/upload-artifact@v2
        with:
          name: latest-linux.yml
          path: dist/latest-linux.yml
