name: bundle app
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - develop
      - master

jobs:
  bundle-macos:
    runs-on: macos-latest
    steps:
      - uses: ledgerhq/actions/check-member@v1.2.0
        with:
          username: ${{ github.actor }}
          ban: ledgerlive
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@v1
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: install dependencies
        run: yarn --ignore-scripts --frozen-lockfile
      - uses: ledgerhq/actions/get-package-infos@v1.0.0
        id: version
      - uses: ledgerhq/actions/get-pr-number@v1.0.0
        id: pr
        if: github.event_name == 'pull_request'
      - name: make local version (pr)
        run: yarn version --new-version=${{ steps.version.outputs.clean }}-pr.${{ steps.pr.outputs.pr }}
        if: github.event_name == 'pull_request'
      - name: make local version (push)
        run: yarn version --new-version=${{ steps.version.outputs.clean }}-sha.${{ github.sha }}
        if: github.event_name == 'push'
      - name: build the app
        run: yarn nightly
      - uses: ledgerhq/actions/get-package-infos@v1.0.0
        id: post-version
      - name: upload macOS app
        uses: actions/upload-artifact@v1
        with:
          name: ${{ steps.post-version.outputs.version }}-mac.dmg
          path: dist/${{ steps.post-version.outputs.name }}-${{ steps.post-version.outputs.version }}-mac.dmg

  bundle-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: ledgerhq/actions/check-member@v1.0.0
        with:
          username: ${{ github.actor }}
          ban: ledgerlive
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@v1
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install libudev-dev libusb-1.0-0-dev
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn --ignore-scripts --frozen-lockfile
      - uses: ledgerhq/actions/get-package-infos@v1.0.0
        id: version
      - uses: ledgerhq/actions/get-pr-number@v1.0.0
        id: pr
        if: github.event_name == 'pull_request'
      - name: make local version (pr)
        run: yarn version --new-version=${{ steps.version.outputs.clean }}-pr.${{ steps.pr.outputs.pr }}
        if: github.event_name == 'pull_request'
      - name: make local version (push)
        run: yarn version --new-version=${{ steps.version.outputs.clean }}-sha.${{ github.sha }}
        if: github.event_name == 'push'
      - name: build the app
        run: yarn nightly
      - uses: ledgerhq/actions/get-package-infos@v1.0.0
        id: post-version
      - name: upload linux app
        uses: actions/upload-artifact@v1
        with:
          name: ${{ steps.post-version.outputs.version }}-linux-x86_64.AppImage
          path: dist/${{ steps.post-version.outputs.name }}-${{ steps.post-version.outputs.version }}-linux-x86_64.AppImage
  bundle-windows:
    runs-on: windows-latest
    steps:
      - uses: ledgerhq/actions/check-member@v1.2.0
        with:
          username: ${{ github.actor }}
          ban: ledgerlive
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@v1
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - uses: actions/setup-python@v1
        with:
          python-version: "2.7.x"
      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn --ignore-scripts --frozen-lockfile
      - uses: ledgerhq/actions/get-package-infos@v1.2.0
        id: version
      - uses: ledgerhq/actions/get-pr-number@v1.2.0
        id: pr
        if: github.event_name == 'pull_request'
      - name: make local version (pr)
        run: yarn version --new-version=${{ steps.version.outputs.clean }}-pr.${{ steps.pr.outputs.pr }}
        if: github.event_name == 'pull_request'
      - name: make local version (push)
        run: yarn version --new-version=${{ steps.version.outputs.clean }}-sha.${{ github.sha }}
        if: github.event_name == 'push'
      - name: build the app
        run: yarn nightly
      - uses: ledgerhq/actions/get-package-infos@v1.2.0
        id: post-version
      - name: upload windows
        uses: actions/upload-artifact@v1
        with:
          name: ${{ steps.post-version.outputs.version }}-win.exe
          path: dist/${{ steps.post-version.outputs.name }}-${{ steps.post-version.outputs.version }}-win.exe
