name: CI
on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        run: curl -i -L -X GET 'http://github-actions-live-vercel.vercel.app/api/cancel-previous-run?runId=${{ github.run_id }}&owner=LedgerHQ&repo=ledger-live-desktop&branch=${{ github.event.pull_request.head.ref }}&headSha=${{ github.event.pull_request.head.sha }}'
      - uses: actions/checkout@v2
        if: always() && job.status != 'cancelled'
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        if: always() && job.status != 'cancelled'
        with:
          node-version: 12.x
      - name: get yarn cache
        if: always() && job.status != 'cancelled'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        if: always() && job.status != 'cancelled'
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        if: always() && job.status != 'cancelled'
        run: yarn --frozen-lockfile
      - name: run code checks
        if: always() && job.status != 'cancelled'
        run: yarn ci 2>lint.txt
      - name: Read lint output
        id: lint
        if: always() && job.status != 'cancelled'
        uses: juliangruber/read-file-action@e0a316da496006ffd19142f0fd594a1783f3b512
        with:
          path: ./lint.txt
      - name: check build
        if: always() && job.status != 'cancelled'
        run: export INSTRUMENT_BUILD=true && sudo --preserve-env=INSTRUMENT_BUILD yarn build
      - name: docker compose pull
        if: always() && job.status != 'cancelled'
        run: cd tests/docker-electron-webdriver && docker-compose pull
      - uses: satackey/action-docker-layer-caching@v0.0.11
        if: always() && job.status != 'cancelled'
        continue-on-error: true
      - name: start electron webdriver
        if: always() && job.status != 'cancelled'
        run: yarn start-electron-webdriver -d
      - name: wait for container
        if: always() && job.status != 'cancelled'
        run: bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:9515)" != "404" ]]; do sleep 5; done'
      - name: run spectron
        if: always() && job.status != 'cancelled'
        run: yarn spectron --no-color 2>output.txt
      - name: Read test output
        id: spectron
        if: always() && job.status != 'cancelled'
        uses: juliangruber/read-file-action@e0a316da496006ffd19142f0fd594a1783f3b512
        with:
          path: ./output.txt
      - name: run coverage generation	
        if: always() && github.event_name == 'push' && job.status != 'cancelled'
        run: yarn spectron-coverage	
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      - name: upload diffs to imgur
        if: always() && job.status != 'cancelled'
        uses: ./.github/actions/upload-images
        id: imgur
        with:
          path: tests/specs/__image_snapshots__/__diff_output__
      - name: clean diff
        if: always() && job.status != 'cancelled'
        run: rm -f tests/specs/__image_snapshots__/__diff_output__/*.png
      - name: upload ci suggested screenshots
        uses: actions/upload-artifact@v2
        if: always() && job.status != 'cancelled'
        with:
          name: ci-suggested-screenshots
          path: tests/specs/__image_snapshots__/__diff_output__/
      - name: upload cpuprofiles
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cpuprofiles
          path: tests/cpuprofiles/
      - name: generate imgChanged
        run: |
          git remote add ledger https://github.com/LedgerHQ/ledger-live-desktop.git
          git fetch ledger
          git diff --name-only ledger/${{github.base_ref}}..${{github.event.pull_request.head.sha}} -- tests/specs/__image_snapshots__ >imgChanged.txt
        if: always() && github.event_name == 'pull_request'
      - name: Read imgChanged output
        id: imgChanged
        if: always() && github.event_name == 'pull_request' && job.status != 'cancelled'
        uses: juliangruber/read-file-action@e0a316da496006ffd19142f0fd594a1783f3b512
        with:
          path: ./imgChanged.txt
      - name: prepare comment body
        if: always() && job.status != 'cancelled'
        id: comment
        uses: ./.github/actions/prepare-comment-body
        with:
          images: ${{ steps.imgur.outputs.images }}
          fullrepo: ${{ github.repository }}
          runId: ${{ github.run_id }}
          testoutput: ${{ steps.spectron.outputs.content }}
          lintoutput: ${{ steps.lint.outputs.content }}
          author: ${{github.event.sender.login}}
          pullId: ${{github.event.number}}
          imgChanged: ${{steps.imgChanged.outputs.content}}
          from: ${{github.base_ref}}
          to: ${{github.event.pull_request.head.sha}}
      - name: display comment
        if: always() && job.status != 'cancelled'
        id: displaycomment
        env:
          BODY: ${{ steps.comment.outputs.bodyclean }}
        run: echo "$BODY"
      - name: post comment
        if: always() && job.status != 'cancelled'
        id: postcomment
        uses: ./.github/actions/post-comment
        with:
          comment: ${{ steps.comment.outputs.body }}
          prNumber: ${{github.event.pull_request.number}}
      - name: Send message to Slack channel
        uses: archive/github-actions-slack@v1.0.3
        if: always() && github.event_name == 'push' && job.status != 'cancelled'
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: live-ui-tests
          slack-text: ${{ steps.comment.outputs.bodySlack }}
