name: CI
on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        run: curl -i -L -X GET 'https://github-actions-live.ledger.tools/api/cancel-previous-run?runId=${{ github.run_id }}&owner=LedgerHQ&repo=ledger-live-desktop&branch=${{ github.event.pull_request.head.ref }}&headSha=${{ github.event.pull_request.head.sha }}'
      - name: install linux dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev
      - name: Setup xvfb
        run: |
          sudo apt-get -qqy install xvfb libnss3-dev libgconf-2-4 fuse libgtk2.0-0 libgtk-3-0 libasound2 libudev-dev libusb-1.0-0 libusb-1.0-0-dev lib32z1 rpm fakeroot dpkg libdbus-1-dev libx11-dev libavahi-compat-libdnssd-dev g++ gcc gcc-multilib g++-multilib libgtk-3-dev libxtst6 libxss1 libnss3
      - uses: actions/checkout@v2
        if: always() && job.status != 'cancelled'
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - uses: actions/setup-node@main
        if: always() && job.status != 'cancelled'
        with:
          node-version: 14.x
      - name: install and switch to GCC 5.4
        run: ./tools/g++-5.4/install.sh
      - name: get yarn cache
        if: always() && job.status != 'cancelled'
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        if: always() && job.status != 'cancelled'
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        if: always() && job.status != 'cancelled'
        run: yarn --frozen-lockfile
      - name: run code checks
        if: always() && job.status != 'cancelled'
        run: yarn ci 2> >(tee lint.txt)
      - name: check build
        if: always() && job.status != 'cancelled'
        env:
          INSTRUMENT_BUILD: true
        run: yarn build
      - name: Tests
        if: always() && job.status != 'cancelled'
        run: yarn test 2> >(tee jest.txt)
      - name: start electron webdriver
        if: always() && job.status != 'cancelled'
        env:
          DISPLAY: :99.0
          TZ: America/New_York
        run: |
          xvfb-run -a --server-args="-screen 0 1024x788x24 -ac +extension RANDR" node_modules/electron-chromedriver/chromedriver.js --port=9515 --whitelisted-ips="" --url-base=/ &
      - name: wait for webdriver
        if: always() && job.status != 'cancelled'
        run: bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' localhost:9515)" != "404" ]]; do sleep 5; done'
      - name: run spectron
        if: always() && job.status != 'cancelled'
        run: yarn spectron --no-color 2> >(tee output.txt)
      - name: run coverage generation
        if: always() && github.event_name == 'push' && job.status != 'cancelled'
        run: yarn spectron-coverage
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      - name: upload diffs to imgur
        if: always() && job.status != 'cancelled'
        uses: ./.github/actions/upload-images
        id: imgur
        with:
          path: tests/specs/__image_snapshots__/__diff_output__
      - name: clean diff
        if: always() && job.status != 'cancelled'
        run: rm -f tests/specs/__image_snapshots__/__diff_output__/*.png
      - name: upload ci suggested screenshots
        uses: actions/upload-artifact@v2
        if: always() && job.status != 'cancelled'
        with:
          name: ci-suggested-screenshots
          path: tests/specs/__image_snapshots__/__diff_output__/
      - name: generate imgChanged
        run: |
          git remote add ledger https://github.com/LedgerHQ/ledger-live-desktop.git
          git fetch ledger
          git diff --name-only ledger/${{github.base_ref}}..${{github.event.pull_request.head.sha}} -- tests/specs/__image_snapshots__ >imgChanged.txt
        if: always() && github.event_name == 'pull_request'
      - name: send comment
        if: always() && job.status != 'cancelled'
        id: comment
        uses: ./.github/actions/comment
        with:
          images: ${{ steps.imgur.outputs.images }}
          fullrepo: ${{ github.repository }}
          runId: ${{ github.run_id }}
          testoutput: ./output.txt
          lintoutput: ./lint.txt
          jestoutput: ./jest.txt
          imgChanged: ./imgChanged.txt
          author: ${{github.event.sender.login}}
          pullId: ${{github.event.number}}
          from: ${{github.base_ref}}
          to: ${{github.event.pull_request.head.sha}}
          sha: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Send message to Slack channel
        uses: archive/github-actions-slack@v1.0.3
        if: always() && github.event_name == 'push' && job.status != 'cancelled'
        id: notify
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: live-ui-tests
          slack-text: ${{ steps.comment.outputs.bodySlack }}
