name: CI
on:
  pull_request_target:
    branches:
      - "*"
  push:
    branches:
      - develop
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    outputs:
      comment: ${{ steps.comment.outputs.body }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
        persist-credentials: false
      - uses: actions/setup-node@main
        with:
          node-version: 12.x
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        run: yarn --frozen-lockfile
      - name: run code checks
        run: yarn ci 2>lint.txt
      - name: Read lint output
        id: lint
        if: always()
        uses: juliangruber/read-file-action@v1
        with:
          path: ./lint.txt
      - name: check build
        run: sudo yarn build
      - name: start electron webdriver
        run: yarn start-electron-webdriver -d
      - uses: nev7n/wait_for_response@v1
        with:
          url: 'http://localhost:9515/'
          responseCode: 404
          timeout: 600000
          interval: 1000
      - name: run spectron
        run: yarn spectron --no-color 2>output.txt
      - name: Read test output
        id: spectron
        if: always()
        uses: juliangruber/read-file-action@v1
        with:
          path: ./output.txt
      - name: upload diffs to imgur
        if: always()
        uses: ./.github/actions/upload-images
        id: imgur
        with:
          path: tests/specs/__image_snapshots__/__diff_output__
      - name: clean diff
        if: always()
        run: rm -f tests/specs/__image_snapshots__/__diff_output__/*.png
      - name: upload ci suggested screenshots
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: ci-suggested-screenshots
          path: tests/specs/__image_snapshots__/__diff_output__/
      - name: prepare comment body
        if: always()
        id: comment
        uses: ./.github/actions/prepare-comment-body
        with:
          images: ${{ steps.imgur.outputs.images }}
          fullrepo: ${{ github.repository }}
          runId: ${{ github.run_id }}
          testoutput: ${{ steps.spectron.outputs.content }}
          lintoutput: ${{ steps.lint.outputs.content }}
  post-comment:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: post comment
        if: (github.event_name == 'pull_request' || github.event_name == 'pull_request_target') && needs.test.result != 'cancelled'
        uses: mshick/add-pr-comment@5cd99bf9c186219af43341076f1fe9c09e5a9934
        with:
          message: ${{ needs.test.output.comment }}
          allow-repeats: true
          repo-token: ${{ secrets.GITHUB_TOKEN }}
