name: CI
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - master

jobs:
  type-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - name: install linux dependencies
        run: sudo apt-get update && sudo apt-get install libudev-dev libusb-1.0-0-dev
      - name: get yarn cache
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: install dependencies
        # yarn prepublish is actually run after a normal `yarn install`
        # however since we skip with --ignore-scripts to avoid rebuilding libcore twice
        # we need to run yarn prepublish
        run: |
          yarn --ignore-scripts --frozen-lockfile
          yarn prepublish
      - name: test
        run: yarn ci
