name: generate jest screenshots
on:
  issue_comment:
    types: [created]

jobs:
  generate-screenshots:
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@master
        id: check
        with:
          trigger: "@github-actions generate"
          reaction: rocket
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: exit if not triggered
        if: steps.check.outputs.triggered != 'true'
        run: exit 1
      - uses: actions/checkout@v2
        with:
          ref: refs/pull/${{github.event.issue.number}}/merge
      - uses: actions/setup-node@master
        with:
          node-version: 12.x
      - name: install hub
        uses: geertvdc/setup-hub@master
      - name: hub checkout
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.issue.number }}
        run: |
          hub pr checkout $PR_NUMBER
      - name: setup git user
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: generate new screenshots
        uses: ./.github/actions/run-headless
        with:
          should-update-screenshots: 1
      - name: update pr
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN_TEAM_LIVE }}
        run: |
          hub add .
          hub commit -m 'screenshot generated'
          hub push
