name: Generate Screenshots
on:
  issue_comment:
    types: [created]

jobs:
  generate-screenshots:
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '@live-bot generate-screenshots')
    name: screenshots (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.CI_BOT_TOKEN }}
      - name: show branch
        run: git branch -v
