name: "[Tests] Screenshot Testing"
on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master

jobs:
  cancel-previous:
    name: "cancel previous workflow"
    runs-on: ubuntu-20.04
    steps:
      - name: Cancel Previous Runs
        run: curl -i -L -X GET 'https://github-actions-live.ledger.tools/api/cancel-previous-run?runId=${{ github.run_id }}&owner=LedgerHQ&repo=ledger-live-desktop&branch=${{ github.event.pull_request.head.ref }}&headSha=${{ github.event.pull_request.head.sha }}'

  start-runner:
    name: "start ec2 instance"
    needs: cancel-previous
    uses: ledgerhq/actions/.github/workflows/start-linux-runner.yml@main
    with:
      instance-type: c5.4xlarge
    secrets:
      CI_BOT_TOKEN: ${{ secrets.CI_BOT_TOKEN }}

  stop-runner:
    name: "stop ec2 instance"
    if: ${{ always() }}
    needs: [start-runner, ui-tests-linux]
    uses: ledgerhq/actions/.github/workflows/stop-linux-runner.yml@main
    with:
      label: ${{ needs.start-runner.outputs.label }}
      ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
    secrets:
      CI_BOT_TOKEN: ${{ secrets.CI_BOT_TOKEN }}

  ui-tests-linux:
    name: "[UI Linux]"
    needs: [start-runner]
    runs-on: ${{ needs.start-runner.outputs.label }}
    steps:
      - name: prepare runner
        run: |
          sudo growpart /dev/nvme0n1 1
          sudo resize2fs /dev/nvme0n1p1
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          persist-credentials: false
      - uses: actions/setup-node@v2
        if: always()
        with:
          node-version: 14.x
      - name: install yarn
        if: always()
        run: npm install --global yarn
      - name: set git user
        run: |
          git config user.email "team-live@ledger.fr"
          git config user.name "Team Live"
      - name: install dependencies
        env:
          JOBS: max
        run: yarn --frozen-lockfile --network-timeout 100000
      - name: install operating system dependencies for playwright
        run: npx playwright install-deps
      - name: run code checks
        if: always()
        run: yarn ci 2> >(tee lint.txt)
      - name: build electron app
        env:
          INSTRUMENT_BUILD: true
        run: yarn build
      - name: tests
        if: always()
        run: yarn test 2> >(tee jest.txt)
      - name: run ui tests (Linux)
        run: xvfb-run --auto-servernum -- yarn playwright
      - name: upload diffs to imgur
        if: always()
        uses: ledgerhq/actions/packages/upload-images@main
        id: imgur
        with:
          path: playwright/artifacts/test-results
          workspace: ${{ github.workspace }}
          os: linux
      - name: upload images
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: images-linux.json
          path: images-linux.json
      - name: save PR number
        if: always()
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
      - name: upload tests data
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: tests-reports
          path: |
            lint.txt
            jest.txt
            pr/NR
      - name: upload ci suggested screenshots
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: playwright-results-linux
          path: |
            playwright/artifacts/test-results
            playwright/artifacts/html-report
            playwright/artifacts/coverage
            playwright/artifacts/videos

  ui-tests:
    needs: cancel-previous
    name: "[UI ${{ matrix.os }}]"
    strategy:
      fail-fast: false
      matrix:
        # os: [macos-latest, windows-latest]
        os: [windows-latest]
    runs-on: ${{ matrix.os}}

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{github.event.pull_request.head.repo.full_name}}
          persist-credentials: false
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - name: install dependencies
        env:
          JOBS: max
        run: yarn --frozen-lockfile --network-timeout 100000
      - name: install operating system dependencies
        run: npx playwright install-deps
      - name: build electron app
        env:
          INSTRUMENT_BUILD: true
        run: yarn build
      - name: run ui tests (${{ matrix.os }})
        run: yarn playwright
      - name: upload diffs to imgur
        if: always()
        uses: ledgerhq/actions/packages/upload-images@main
        id: imgur
        with:
          path: playwright/artifacts/test-results
          workspace: ${{ github.workspace }}
          os: ${{ matrix.os }}
      - name: upload images
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: images-${{ matrix.os }}.json
          path: images-${{ matrix.os }}.json
      - name: upload ci suggested screenshots
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: playwright-results-${{ matrix.os }}
          path: |
            playwright/artifacts/test-results
            playwright/artifacts/html-report
            playwright/artifacts/coverage
            playwright/artifacts/videos
